@import '../../scss/colors.scss';

.our-price{
    min-height: 800px;
    background-color: map-get($brownColors, 'brown1');
}

.our-price-description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services {
    display: flex;
}

.haircut-price {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}