@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.consultation {
    height: 495px;
    background: linear-gradient(to top, map-get($brownColors, 'brown2') 71%, map-get($brownColors, 'brown1') 29%);
    @media screen and (max-width: map-get($breakpoints, 'lg')) {
        padding-top: 50px;
        min-height: 600px;
    }
    @media screen and (max-width: map-get($breakpoints, 'md')) {
        min-height: 670px;
    }
}

.consultation-banner {
    min-height: 375px;
    background-color: map-get($orangeColors, 'orange1');
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: map-get($breakpoints, 'md')) {
        min-height: 590px;
    }
}

.description-cons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media screen and (max-width: map-get($breakpoints, 'lg')) {
        margin-top: 25px;
    }
}

.consultation-forms {
    width: 880px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: map-get($breakpoints, 'lg')) {
        width: 323px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.personal-data {
    display: flex;
    @media screen and (max-width: map-get($breakpoints, 'lg')) {
       padding-top: 35px;
       width: 300px;
    }
}

.h4-cons {
    font-family: 'PlayfairDisplay';
   font-size: 36px;
   font-weight: 900;
   line-height: 48px;
   text-transform: capitalize;
   color: map-get($blackColors, 'black1');
   margin: 0;
   padding: 0;
}

.check {
    accent-color: map-get($blackColors, 'black50');
    @media screen and (max-width: map-get($breakpoints, 'md')) {
        width: 45px;
    }
}