@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.nav-content {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__mobile-btn {
        background: transparent;
        color: white;
        border: none;
        @media screen and (min-width: map-get($breakpoints, 'lg')) {
            display: none;
        }
    }
    @media screen and (min-width: map-get($breakpoints, 'lg')) {
        height: 83px;
        display: flex;
        justify-content: space-between;
        background-color: map-get($brownColors, 'brown2');
    }
}

.logo-top {
    width: 150px;
}

.nav {
    &__link {
        &:hover {
            color: map-get($orangeColors, 'orange1');
        }
    }
}

.nav__list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0px 0px 10px;
}

.address-links {
    width: 80px;
    display: flex; 
    justify-content: space-between;
    @media screen and (min-width: map-get($breakpoints, 'md')) {
        width: 400px;
        display: flex;
        justify-content: space-between;
    }
}

.address {
    display: flex;
    gap: 15px;
    &__link {
        &:hover {
            color: map-get($orangeColors, 'orange1');
        }
    }
}

.telephone {
    display: flex;
    gap: 15px;
    &__link {
        &:hover {
            color: map-get($orangeColors, 'orange1');
        }
    }
}
