@import '../typography/button-text.scss';
@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.btn {
    &__mobile-btn {
        font-size: 15px;
        background: transparent;
        color: white;
        border: none;
        @media screen and (min-width: map-get($breakpoints, 'lg')) {
            display: none;
        }
    }
    
    &__large {
        cursor: pointer;
        border-color: map-get($whiteColors, 'white1');
        @extend .button-text-large;
        padding: 10px, 25px, 10px, 25px;
        background: transparent;
        width: 221px;
        height: 40px; 
    }

    &--small {
        z-index: 9999;
        cursor: pointer;
        @extend .button-text-small;
        border: none;
        background: map-get($orangeColors, 'orange1');
        width: 194px;
        height: 68px;  
    }

    &--small2 {
        cursor: pointer;
        @extend .button-text-small;
        border: none;
        background: map-get($blackColors, 'black1');
        width: 194px;
        height: 68px;  
    }

    &__instagram-btn {
        cursor: pointer;
        border-color: map-get($whiteColors, 'white1');
        @extend .button-text-large;
        padding: 10px, 25px, 10px, 25px;
        background: transparent;
        width: 194px;
        height: 68px; 
    }

}

.popup__btn {
    cursor: pointer;
    @extend .button-text-small;
    border: none;
    background: map-get($orangeColors, 'orange1');
    width: 120px;
    height: 55px; 
    @media screen and (max-width: 600px) {
        height: 35px;
    }
}

.button-orange {
    width: 432px;
}

.to-top-btn {
    font-size: 40px;
    z-index: 999999;
    position: fixed;
    bottom: 18px;
    right: 12px;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
    @media screen and (max-width: map-get($breakpoints, 'md')) {
        font-size: 30px;
    }
}