@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.form {
    position: relative;
    display: flex;
    align-items: center;
    &__label {
        position: absolute;
        padding-left: 20px;
        &--active {
            display: none;
        }
    }
    &__input {
        border: 2px solid map-get($blackColors, 'black1');
        background: transparent;
        outline: none;
        width: 323px;
        height: 68px;
        text-indent: 20px;
        text-transform: none;
        @media screen and (max-width: map-get($breakpoints, 'md')) {
            width: 290px;
        }
    }
    &__input:focus {
        border: 2px solid map-get($whiteColors, 'white1');
    }
    // .clear-span {
    //     position: absolute;
    //     right:  15px;
    //     cursor: pointer;
    //     display: none;
    // }
}

.check {
    accent-color: map-get($blackColors, 'black50');
    @media screen and (max-width: map-get($breakpoints, 'md')) {
        width: 45px;
    }
}