@import '../../scss/colors.scss';

.form {
    // &__input__wrapper {
    //     position: relative;
    // }

    &__label {
        position: absolute;
        padding-top: 25px;
        padding-left: 20px;
        &--active {
            display: none;
        }
    }

    &__input {
        border: 2px solid map-get($blackColors, 'black1');
        background: transparent;
        outline: none;
        width: 323px;
        height: 68px;
    }
}