.body {
    margin: 0;
    font-family: 'PlayfairDisplay';
    font-size: 70px;
    font-weight: 900;
    line-height: 77px;
    text-transform: capitalize;
    color: map-get($whiteColors, 'white1');
}
  