@import '../../scss/colors.scss';

.barber-item {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    max-height: 512px;
    &__link {
        &:hover {
            color: map-get($whiteColors, 'white1');
        }
    }
}

.in-popup {
    padding: 15px;
    @media screen and (max-width: 600px) {
        padding: 0px;
    }
}