@import '../../scss/colors.scss';

.barbers-container {
    max-width: 1300px;
    width: 100%;
}

.barbers-content {
    margin: 0 40px;
    padding: 20px 20px 0px 20px;
    overflow: hidden;
    background-color: map-get($brownColors, 'brown2');
   &__item {
    display: flex;
    justify-content: center;
   }
   &__next-btn,
   &__prev-btn {
    &::after {
        display: none;
    }
   }
   &__next-btn {
    background-image: url('../../assets/images/btn-swiper/next-btn.svg');
    background-repeat: no-repeat;
    top: 30%;
   }
   &__prev-btn {
    background-image: url('../../assets/images/btn-swiper/prev-btn.svg');
    background-repeat: no-repeat;
    top: 30%;
   }
}

.barber-item {
    display: flex;
    flex-direction: column;
    &__link {
        &:hover {
            color: map-get($whiteColors, 'white1');
        }
    }
}
