.header-banner {
    width: 1180px;
    height: 1000px;
    background: url('../../assets/images/banner.png');
    background-repeat: no-repeat;
}

.promo-banner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 990px) {
    .promo-banner {
        justify-content: center;
        position: absolute;
    }
}

.right-block {
    width: 301px;
}
