@import '../../scss/colors.scss';

.drawer {
    background-color: rgba(64, 4, 4, 0.424);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: -1000px;
    bottom: 0;
    width: 205px;
    transition: left .2s;
    z-index: 9999;
    &--active {
        left: 0;
    } 
}

.drawer__close {
    font-size: 20px;
    background: transparent;
    color: map-get($orangeColors, 'orange1');
    border: none;
    padding: 10px;
    display: block;
    margin-inline-start: auto;
}

.sidebar__link {
    margin: 50px 0;
    &:hover {
        color: map-get($orangeColors, 'orange1');
    }
}