@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: map-get($brownColors, 'brown2');

    @media screen and (min-width: map-get($breakpoints, 'lg')) {
        position: relative;
        height: 100px;
    }
}
