@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.testimonials {
    min-height: 980px;
    background-color: map-get($brownColors, 'brown2');
    @media screen and (max-width: map-get($breakpoints, 'md')) {
        min-height: 865px;
        padding-top: 80px;
    }
    @media screen and (max-width: map-get($breakpoints, 'sm')) {
        min-height: 850px;
        padding-top: 55px;
    }
}   

.testimonials-subtitle {
    max-width: 590px;
}

.testimonials-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

