@import '../../scss/colors.scss';

.testimonials {
    background-color: map-get($brownColors, 'brown2');
}   

.subtitle1 {
    width: 277px;
}

.testimonials-description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

