@import './scss/fonts.scss';
@import './scss/colors.scss';
@import './scss/typography.scss';
@import './scss/utils.scss';

html {
    font-size: $mainFontSize;
    line-height: $mainFontLineHeight;
}

body {
    color: $mainColor;
    font-family: $mainFontFamily;
    margin: 0;
}

.a {
    text-decoration: none;
}
