$orangeColors: (
    orange1: #FF6E40
);

$brownColors: (
    brown1:rgba(37, 29, 26, 1),
    brown2:rgba(59, 50, 45, 1),
);

$whiteColors: (
    white1: rgba(255, 255, 255, 1),
    white2: rgba(239, 231, 226, 1),
    white3: rgba(183, 170, 162, 1),
);

$blackColors: (
    black1: rgba(0, 0, 0, 1),
    black50: rgba(0, 0, 0, 0.5),
);

// $redColors: (
//     red1: rgb(206, 0, 0),
// );