$offsets: (
  100: 100px,
  120: 120px,
  200: 200px,
  60: 60px,
  80: 80px,
  90: 90px,
  500: 500px,
  600: 600px,
  20: 20px,
  30: 30px,
  40: 40px,
  12: 12px,
  10: 10px,
  9: 9px,
);

@each $key, $value in $offsets {
    .pt-#{$key} {
        padding-top: $value;
    }
}

@each $key, $value in $offsets {
    .pb-#{$key} {
        padding-bottom: $value;
    }
}

@each $key, $value in $offsets {
    .pl-#{$key} {
        padding-left: $value;
    }
}

@each $key, $value in $offsets {
    .pr-#{$key} {
        padding-right: $value;
    }
}

@each $key, $value in $offsets {
    .mt-#{$key} {
        margin-top: $value;
    }
}

@each $key, $value in $offsets {
    .mb-#{$key} {
        margin-bottom: $value;
    }
}

.text-center {
    text-align: center;
}

.responsive-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  