$offsets: (
  600: 600px,
  500: 500px,
  200: 200px,
  120: 120px,
  114: 114px,
  100: 100px,
  90: 90px,
  87: 87px,
  80: 80px,
  71: 71px,
  60: 60px,
  47: 47px,
  45: 45px,
  41: 41px,
  40: 40px,
  37: 37px,
  33: 33px,
  30: 30px,
  28: 28px,
  25: 25px,
  20: 20px,
  17: 17px,
  12: 12px,
  10: 10px,
  9: 9px,
);

@each $key, $value in $offsets {
    .pt-#{$key} {
        padding-top: $value;
    }
}

@each $key, $value in $offsets {
    .pb-#{$key} {
        padding-bottom: $value;
    }
}

@each $key, $value in $offsets {
    .pl-#{$key} {
        padding-left: $value;
    }
}

@each $key, $value in $offsets {
    .pr-#{$key} {
        padding-right: $value;
    }
}

@each $key, $value in $offsets {
    .mt-#{$key} {
        margin-top: $value;
    }
}

@each $key, $value in $offsets {
    .mb-#{$key} {
        margin-bottom: $value;
    }
}

.text-center {
    text-align: center;
}

.responsive-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  